@import '~antd/dist/antd.dark.css';

body,
html {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
  color: white !important;
}

h2 {
  font-size: 1.2rem;
}

.container {
  max-width: 600px;
  padding: 50px 10px 100px 10px;
  margin: 0 auto;
}

.mt-2 {
  margin-top: 20px;
}

.input-hint {
  text-align: right;
  margin-top: 4px;
}

.spinner-container {
  margin-top: 200px;
  text-align: center;
}

.ant-typography-secondary {
  color: rgba(255, 255, 255, 0.6) !important;
}
