@import '~antd/dist/antd.dark.css';

body,
html {
  margin: 0;
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.3rem;
  }
}

.container {
  max-width: 600px;
  padding: 50px 10px 50px 10px;
  margin: 0 auto;
}

.mt-2 {
  margin-top: 20px;
}

.ant-typography-secondary {
  color: rgba(255, 255, 255, 0.7) !important;
}
