@import '~antd/dist/antd.css';

body,
html {
  margin: 0;
}

.container,
.ant-drawer-body /* Container of the FAQ Drawer */ {
  max-width: 600px;
  padding: 50px 10px 100px 10px;
  margin: 0 auto;
}

.mt-2 {
  margin-top: 20px;
}

.input-hint {
  text-align: right;
  margin-top: 4px;
}

.spinner-container {
  margin-top: 200px;
  text-align: center;
}

.ant-rate-star-second {
  color: #dfdfdf;
}
